.App {
    text-align: center;
}

.App-header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    color: #000;
    background-color: #111a28;
    border: 0px solid red;
    padding-top: 50px;
    padding-bottom: 40px;
}