.ContactMe{
	height: 100vh;
	width: 100vw;
	background: #111a28;
	display: flex;
	flex-direction: column;
	position: relative;
}
.MainContactMe{
	height: 100vmin;
	width: 100vmin;
	border: 1px solid red;
	margin: 0;
	position: absolute;
	top: 10vh;
}
.HeadingContactMe{
	width: 100vw;
	height: 10vh;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 0px solid red;
}