.ContactMe {
    width: 100vw;
    height: auto;
    background: #111a28;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}
.MainContactMe {
    height: auto;
    width: 100vw;
    border: 0px solid red;

}
.HeadingContactMe {
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px solid red;
}