body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.navBar{
    position: fixed;
    top: 0;
    z-index: 3;
    height: 8vh;
    width: 100vw;
background-color:#111a28;
border: 0px solid;
    
}
