.MySkills {
    width: 100vw;
    background: #111a28;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 0px solid white;
    overflow: hidden;
    height: auto;
}
.HeadingMySkills {
    width: 100vw;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px solid red;
    margin: 20px auto 0 auto;

}
.btnDivMySkills {
    border: 0px solid green;
    min-height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px auto 30px auto;
    height: auto;
    flex-wrap: wrap;


}
.btnDivMySkills>button {
    margin: 5px 20px;
}
.MainMySkills {
    width: 100vw;
    border: 0px solid orange;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 0vh;
    height: auto;
    overflow: auto;
}
.skillList {
    border: 0px solid cyan;
}