.SkillMain {
    position: relative;
    color: #fff;
    border: 0px solid red;
}
.skillInfo {
    border: 0px solid red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90vw;
    border: 0px solid white;
    min-height: 90px;
    background: #1d293a;
    border-radius: 10px 10px 0 0;
    margin-top: 20px;
    font-size: 1rem;
}
.skillInfo>* {
    margin: 20px;
}

@media screen and (max-width:500px) {
    .skillInfo {
        font-size: 0.8rem;
    }
}

@keyframes bounce {
    0% {}
    50% {
        top: -4px;
    }
    100% {
        top: 0;
    }
}

.SkillMain:hover {
    animation: bounce;
    animation-iteration-count: 1;
    animation-duration: 500ms;
    animation-timing-function: ease-in-out;
}